{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<h1>Written Pieces</h1>
<div class="row">
    {% for piece in pieces %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static piece.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ piece.title }}</h5>
                <p class="card-text">{{ piece.topic }}</p>
                <a href="{% url 'piece_detail' piece.pk %}" class="btn btn-primary">Read the piece</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
